#dot
{
	width: 30px;
	height: 30px;
	background-color: #ccc;
	border-radius: 50px;
	box-shadow:
				50px 0px 0 0px #0f0,
				100px 0px 0 0px #00f,
                0px 50px 0 0px #ccc,
                50px 50px 0 0px #0f0,
				100px 50px 0 0px #00f;
}

body {
    background-image: url(background.jpg);
    background-size: cover;
    color: white;
}

.nav {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.451);
}

.nav__item {
    padding: 20px;
}

.decor__star {
    font-size: 15em;
    position: absolute;
    top: 100px;
    left: 1000px;
}

h1, p {
    padding-bottom: 100px;
}

h1 {
    text-transform: uppercase;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 6em;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
}