html {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}

.header,
.navbar {
  height: 150px;
  background-color: #001212 !important;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.15em;
}

.footer {
  height: 200px;
  background-color: #001212;
  font-size: 0.65em;
}

main {
  height: calc(100vh - 350px);
  background-color: white;
  color: black;
}

h1 {
  font-size: 7em;
  font-weight: 900;
  line-height: 0.9;
  margin-bottom: 1.5rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 900;
}

.navbar__header > div > ul > li,
.navbar__header > * {
  width: 20vw;
}

.navbar__footer > ul > li {
  width: 40vw;
}

.footer__soc {
  width: 20vw !important;
}

.container-fluid {
  overflow: hidden;
}

.navbar {
  height: inherit;
}

.navbar::before {
  content: "";
  position: absolute;
  width: 20vw;
  height: 150px;
  background-color: #f18c00;
  z-index: -1;
}

.navbar,
.footer {
  z-index: 0;
  position: relative;
}

.footer > .navbar::before {
  height: 200px;
}

.main__button {
  width: 220px;
  height: 60px;
  background-color: #f18c00;
  border-radius: 0;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.main__button:hover {
  background-color: #e85d00;
}

.main__subtitle {
  padding-bottom: 25px;
}

i {
  font-size: 3em;
  color: white;
}

a.nav-link,
.navbar-nav a.nav-link.active {
  color: white;
}

a.nav-link {
  font-weight: 100;
  transition: .3s;
}

a.nav-link:hover {
  font-weight: 600;
  color: white;
  text-decoration: underline;
  transition: .3s;
}


.navbar-nav a.nav-link.active {
  font-weight: 900;
}

#header__slider {
  height: inherit;
}

.slider__img {
  padding-left: 5%;
}

.carousel-caption {
  color: black;
}

.carousel-caption {
  right: 5%;
  top: 8%;
  left: 40%;
}

.navbar-brand {
  color: white;
}

.navbar-brand:hover {
  color: white;
  cursor: pointer;
}

p {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 100;
  margin-bottom: 2rem;
}

header li {
  display: flex;
  justify-content: center;
}