.footer,
.header,
.navbar {
  height: 150px;
  background-color: black !important;
}

.logo,
.menu__item {
  padding: 55px 0 0 0;
}
.header__row {
  height: inherit;
}

main {
  height: calc(100vh - 300px);
  background-image: url(bg-01.jpg);
  background-repeat: no-repeat;
  background-position: 10% 0;
  background-color: white;
  color: black;
}

h1 {
  font-size: 120px;
  font-weight: 900;
}

nav > div > ul > li,
nav > * {
  width: 20vw;
}

.container-fluid {
  overflow: hidden;
}

.navbar {
  height: inherit;
}

.navbar::before {
  content: "";
  position: absolute;
  width: 20vw;
  height: 150px;
  background-color: orange;
  z-index: -1;
}

.navbar {
  z-index: 0;
  position: relative;
}

a {
  color: white !important;
}
